<%= javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<section>
<input type="hidden" id = "countries_curr_count" value="<%= @countries.count %>" >
  <div id="visited_countries_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Visited</th>
        <td id="country_count"><%= current_user.countries.count %></td>
      </tr><tr>
        <th>Not Visited</th>
        <td id="no_country_count"><%= @countries.count - current_user.countries.count %></td>
      </tr>
    </table>
  </div>

  <br />
  <div style="float:left;"><strong>Currencies</strong>&nbsp;&nbsp;<input type="text" id="search" placeholder="Type to search"></div>
</div>

 <table id ="country_curr_table">
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Status</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Update<input type="checkbox" id="selectall"/></th>	
    </tr>
  <% id_count = 0 %>
  <% @countries.each do |country| %>
    <% id_count = id_count+1 %>    
    <tr class="type_search">
      <td><%= country.name %></td>
      <td><%= country.code %></td>
      <td><%= current_user.countries.include?(country) ? 'Visited' : 'Not Visited' %></td>
      <td><%= link_to 'Show', country %></td>
      <td><%= link_to 'Edit', edit_country_path(country) %></td>
      <td><input type="checkbox"  id = "<%= id_count %>"class="case" value="<%= country.code %>" <%= current_user.countries.include?(country) ? "checked" : "" %> /> </td>	
    </tr>
  <% end %>
  </table>
<div id="buttondiv">
<input type="button" value ="Update Visits" onclick="updateVisits()">
</div>

</section>
